.root {
     
     -fx-background-image: url("background.jpg");
}
.button:hover {
  -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
.button {
	-fx-background-color: darkslateblue;
	-fx-text-fill: white;

}
#btnLogin {          
    -fx-background-image: url("file:resources/images/login.png");
    -fx-background-size: 19.0 19.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position:right;   
}
#btnLogOut {          
    -fx-background-image: url("file:resources/images/logout.png");
    -fx-background-size: 19.0 19.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position:right;   
}
.label {
	-fx-font: normal bold 15.0px 'serif' 
}